{% load static %}

<div class="container-fluid footer bg-dark wow fadeIn" data-wow-delay=".3s">
    <div class="container pt-5 pb-4">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <a href="index.html">
                    <img src="{% static 'website/img/logo/Logo_white.svg' %}" alt="logo" class="navbar-brand-img">
                </a>
                <p class="mt-4 text-light">Наша компания предлагает широкий ассортимент промышленных контроллеров,
                    панелей управления, электрических компонентов и систем автоматизации, предназначенных для
                    оптимизации производственных процессов.</p>
                <div class="d-flex hightech-link">
                    <a href="https://www.facebook.com/vectorengineering.uz"
                       class="btn-light nav-fill btn btn-square rounded-circle me-2"><i
                            class="fab fa-facebook-f text-primary"></i></a>
                    <a href="https://instagram.com/vectorengineering.uz"
                       class="btn-light nav-fill btn btn-square rounded-circle me-2"><i
                            class="fab fa-instagram text-primary"></i></a>
                    <a href="https://t.me/VectorEngineering"
                       class="btn-light nav-fill btn btn-square rounded-circle me-0"><i
                            class="fab fa-telegram text-primary"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#" class="h3 text-secondary">Короткие ссылки</a>
                <div class="mt-4 d-flex flex-column short-link">
                    <a href="./index.html" class="mb-2 text-white"><i
                            class="fas fa-angle-right text-secondary me-2"></i>Главная</a>
                    <a href="./contact.html" class="mb-2 text-white"><i
                            class="fas fa-angle-right text-secondary me-2"></i>Свяжитесь с нами</a>
                    <a href="./product_decision.html" class="mb-2 text-white"><i
                            class="fas fa-angle-right text-secondary me-2"></i>Наши продукты</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="./contact.html" class="h3 text-secondary">Наши контакты</a>
                <div class="text-white mt-4 d-flex flex-column contact-link">
                    <a href="https://maps.app.goo.gl/ZquoHf9JYafnGgRKA"
                       class="pb-3 text-light border-bottom border-primary"><i
                            class="fas fa-map-marker-alt text-secondary me-2"></i> Ул. Махтумкули, 119
                        Ташкент/Узбекистан</a>
                    <a href="tel:+998935557774" class="py-3 text-light border-bottom border-primary"><i
                            class="fas fa-phone-alt text-secondary me-2"></i> +998 93 555-77-74</a>
                    <a href="mailto:info@vectorengineering.uz" class="py-3 text-light border-bottom border-primary"><i
                            class="fas fa-envelope text-secondary me-2"></i> info@vectorengineering.uz</a>
                </div>
            </div>
        </div>
        <hr class="text-light mt-5 mb-4">
        <div class="footer-developers">
          <p>Разработано с ❤️ командой <a href="https://www.instagram.com/dark_light_py/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA==">dark_light_py</a>&<a href="">rinatovic</a></p>
        </div>
        <style>
            .footer-developers {
              text-align: center;
              padding: 0px 20px;
              background-color: transparent;
            }

            .footer-developers a {
              color: #26d48c;
              text-decoration: none;
              margin: 0 5px;
            }

            .footer-developers a:hover {
              text-decoration: underline;
            }
        </style>
    </div>
</div>
 <a href="#" class="btn btn-secondary btn-square rounded-circle back-to-top"><i class="fa fa-arrow-up text-white"></i></a>