{% load static %}

<div class="container-fluid bg-dark py-2 d-none d-md-flex">
    <div class="container">
        <div class="d-flex justify-content-between topbar">
            <div class="top-info">
                <small class="me-3 text-white-50"><a href="#"><i class="fas fa-map-marker-alt me-2 text-secondary"></i></a>Ул.
                    Махтумкули, 119</small>
                <small class="me-3 text-white-50"><a href="#"><i class="fas fa-envelope me-2 text-secondary"></i></a>info@vectorengineering.uz</small>
            </div>
            <div id="note" class="text-secondary d-none d-xl-flex"><small>Стратегии автоматизации — ваш путь к
                эффективности производства!</small></div>
            <div class="top-link">
                <a href="https://www.facebook.com/vectorengineering.uz"
                   class="bg-light nav-fill btn btn-sm-square rounded-circle"><i
                        class="fab fa-facebook-f text-primary"></i></a>
                <a href="https://instagram.com/vectorengineering.uz"
                   class="bg-light nav-fill btn btn-sm-square rounded-circle"><i
                        class="fab fa-instagram text-primary"></i></a>
                <a href="https://t.me/VectorEngineering"
                   class="bg-light nav-fill btn btn-sm-square rounded-circle me-0"><i
                        class="fab fa-telegram text-primary"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="navbar-wrapper container-fluid bg-primary">
    <div class="container">
        <nav class="navbar navbar-dark navbar-expand-lg py-2">
            <a href="{% url 'index' %}" class="navbar-brand">
                <img src="{% static 'website/img/logo/Logo_white.svg' %}" alt="logo" class="navbar-brand-img">
            </a>
            <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse bg-transparent" id="navbarCollapse">
                <div class="navbar-nav ms-auto mx-xl-auto p-0">
                    {% for n in nav %}
                        {% if active == n.title %}
                            <a href="{{ n.link }}" class="nav-item nav-link active text-secondary">{{ n.title }}</a>
                        {% else %}
                            <a href="{{ n.link }}" class="nav-item nav-link">{{ n.title }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="d-none d-xl-flex flex-shirink-0">
                <div id="phone-tada" class="d-flex align-items-center justify-content-center me-4">
                    <a href="tel:+998935557774" class="position-relative animated tada infinite">
                        <i class="fa fa-phone-alt text-white fa-2x"></i>
                        <div class="position-absolute" style="top: -7px; left: 20px;">
                            <span><i class="fa fa-comment-dots text-secondary"></i></span>
                        </div>
                    </a>
                </div>
                <div class="d-flex flex-column pe-4">
                    <span class="text-white">Остались вопросы?</span>
                    <span class="text-secondary">Тел: +998 93 555-77-74</span>
                </div>
            </div>
        </nav>
    </div>
</div>